body{
    /*background-color: #587792;*/
}

.optionDiv{ 
    margin: 2rem;
    text-align: center;
}

.optionDiv input[type=radio], label{
    cursor: pointer;
}

.optionDiv label{
    font-weight: bold;
}

.optionDiv label:hover{
    color: black;
}

.convertDiv{
    text-align: center;
    margin-top: 1rem;
    padding: 0rem;
    margin: 0rem auto;
}

#divTitle{ 
    margin-top: 3rem;
}

.beforeConvert, .afterConvertDiv{
    display: inline-block;
    margin: 1rem;
    margin-top: 1rem;
}

.beforeConvert div, .afterConvertDiv div{
    margin: 1rem;
}

#beforeConverTextarea, #afterConverTextarea{
    resize: none;
    border-width: 2px;
    width: 40rem;
    height: 20rem;
    /*border-color: #9CBA7F;
    background-color:#CDE397;*/
    font-size: large;
}

#beforeConverTextarea{
    background-color: #edffe0;
}

#afterConverTextarea{
    background-color: #e0ffee;
}

#converTextarea:focus, #afterConverTextarea:focus{
    outline: none;
}

.typeForm{ 
    margin: 1rem;
    display: none;
}