doctype html
html
  include include/option.pug
  script(src='../js/convert/caseConvert.js', type='text/javascript')
  link(rel='stylesheet', href='../css/convert/caseConvert.css')

  include include/header.pug
.optionDiv
  form(name='convertForm', onclick='typeChange()')
    input#camel(type='radio', name='convertType', value='camel', checked='checked')
    label(for='camel') 카멜 표기법
    input#snake(type='radio', name='convertType', value='snake')
    label(for='snake') 스네이크 표기법
    input#pascal(type='radio', name='convertType', value='pascal')
    label(for='pascal') 파스칼 표기법
    input#kebab(type='radio', name='convertType', value='kebab')
    label(for='kebab') 케밥 표기법
.convertDiv
  #divTitle 카멜 표기법
  #divContent 띄어쓰기, 언더바를 변환합니다. (ex: camel_var -&gt; camelVar)
  .beforeConvert
    div 변환 전
    textarea#beforeConverTextarea(cols='50', rows='10', onkeyup='convert(this.value)')
  .afterConvertDiv
    div 변환 후
    textarea#afterConverTextarea(cols='50', rows='10')
  .buttonsDiv
    form#typeForm.typeForm(name='typeForm', onclick='typeChange()')
      input#enBig(type='radio', name='caseType', value='enBig', checked='checked')
      label(for='enBig') 대문자로 표기
      input#enSmall(type='radio', name='caseType', value='enSmall')
      label(for='enSmall') 소문자로 표기
    input.resetButton(type='button', value='초기화', onclick='convertReset()')
