doctype html
html
  include include/option.pug
  script(src='../js/index.js', type='text/javascript')
  link(rel='stylesheet', href='../css/index.css')

  include include/header.pug
.mainDiv
  h1.title CONVERTER
  .choiceDiv
    a.caseConvert(href='/caseConvert')
    a.uniConvert(href='/uniConvert')
    a.queryConvert(href='/queryConvert')