doctype html
html
  include include/option.pug
  link(rel='stylesheet', href='../css/login.css')
  script(src='../js/login.js', type='text/javascript')

  include include/header.pug
.mainDiv
  .loginDiv
    div Login
    .inputDiv
      .idDiv
        input#id.id(type='text')
      .pwDiv
        input#password.password(type='password')
      .btnDiv
        button(onclick='login()') login
      .signupDiv
        span 계정이 없으신가요?
        a.signupPage(href='/users/signup') 회원가입