doctype html
html
  include include/option.pug
  script(src='../js/convert/queryConvert.js', type='text/javascript')
  link(rel='stylesheet', href='../css/convert/queryConvert.css')

  include include/header.pug
.optionDiv
  form(name='convertForm', onclick='typeChange()')
    input#select(type='radio', name='convertType', value='select', checked='checked')
    label(for='select') SELECT
    input#insert(type='radio', name='convertType', value='insert')
    label(for='insert') INSERT
    input#update(type='radio', name='convertType', value='update')
    label(for='update') UPDATE
    input#delete(type='radio', name='convertType', value='delete')
    label(for='delete') DELETE
.convertDiv
  #beforeConvertDiv.beforeConvertDiv
    #beforeTitle
      span 컬럼명 작성 란
      input#addButton(type='button', name='addButton', value='추가', onclick='addColumn()')
      input#deleteButton(type='button', name='deleteButton', value='삭제', onclick='deleteColumn()')
    form#columnsForm(name='columnsForm')
      #columnDiv(name='columnDiv')
        input(type='text', name='columns')
  #whereOptionDiv.whereOptionDiv
    label#whereCheckLabel
      input#whereCheckbox(type='checkbox', name='whereCheckbox', onclick='whereCheck()')
      | WHERE 여부
    label#whereAllCheckLabel
      input#whereAllCheckbox(type='checkbox', name='whereAllCheckbox', onclick='whereAllCheck()')
      | 전체선택
  .afterConvertDiv
    #afterTitle 결과
    textarea#afterConverTextarea(cols='50', rows='10')
  .buttonsDiv
    #dbmsDiv
      select#dbms(name='dbms')
        option(value='mysql') mysql
        option(value='postgresql') postgresql
        option(value='oracle') oracle
    #queryTypeDiv
      select#queryType(name='queryType')
        option(value='node.js') node.js
        option(value='mybatis') mybatis
    div
      input.resetButton(type='button', value='변환', onclick='convert(true)')
      input.resetButton(type='button', value='변환 (줄바꿈x)', onclick='convert(false)')
      input.resetButton(type='button', value='초기화', onclick='convertReset()')
