doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='../css/common.css')
  link(rel='stylesheet', href='../css/signup.css')
  script(src='../js/signup.js', type='text/javascript')
  title CONVERTER
.mainDiv
  .signupDiv
    .inputDiv
      .idDiv
        .titleDiv ID
        input#id.id(type='text', onblur='checkOverlapId()')
        #idExp
      .pwDiv
        .titleDiv 비밀번호
        input#password.password(type='password', onblur='checkPassword1()')
        #pwCondition ~~~~~~~~비밀번호 조건~~~~~~~
        #pwExp
      .checkpPwDiv
        .titleDiv 비밀번호 확인
        input#checkPassword.checkPassword(type='password', onblur='checkPassword2()')
        #checkPwExp
      .nameDiv
        .titleDiv 이름
        input#name.name(type='text')
      .birthDiv
        .titleDiv 생년월일
        input#birthYear.birthYear(onblur='checkBirth()', maxlength=4)
        select#birthMonth.birthMonth
          option(value='01') 1
          option(value='02') 2
          option(value='03') 3
          option(value='04') 4
          option(value='05') 5
          option(value='06') 6
          option(value='07') 7
          option(value='08') 8
          option(value='09') 9
          option(value='10') 10
          option(value='11') 11
          option(value='12') 12
        input#birthDay.birthDay(onblur='checkBirth()', maxlength=2)
        #birthExp
      .emailDiv
        .titleDiv 이메일
        input#email.email(type='text', onblur='checkEmail()')
        span &#64;
        input#emailForm.emailForm(type="text", onblur='checkEmail()')
        select#selectEmailForm.selectEmailForm(onchange='selectEmailForm()')
          option(value="") 직접입력
          option(value="gmail.com") gmail.com
          option(value="naver.com") naver.com
          option(value="daum.net") daum.net
          option(value="outlook.com") outlook.com
        #emailExp
      .emailCertDiv
        .titleDiv 이메일 인증
        input#certificate.certificate(type="text" placeholder='인증번호를 입력해주세요')
        button#sendCertificate(onclick='doCertificate()') 인증번호 받기
        #certEmailExp
      .btnDiv
        button(onclick='doSignup()') 회원가입
