doctype html
html
  include include/option.pug
  script(src='../js/convert/uniConvert.js', type='text/javascript')
  link(rel='stylesheet', href='../css/convert/uniConvert.css')

  include include/header.pug
.optionDiv
  form(name='convertForm', onclick='typeChange()')
    input#unicode(type='radio', name='convertType', value='unicode', checked='checked')
    label(for='unicode') 유니코드 변환
    input#unixTime(type='radio', name='convertType', value='unixTime')
    label(for='unixTime') 유닉스 시간 변환
.convertDiv
  #beforeConvert.beforeConvert
    #beforeTitle 한글 입력란
    textarea#beforeConverTextarea(cols='50', rows='10', onkeyup='convert(this.value)')
  #normalTimeDiv
    #beforeTitle 날짜
    form.beforeTimeForm
      input#normalYear(type='text', placeholder='year', maxlength='4')
      input#normalMonth(type='text', placeholder='month', maxlength='2')
      input#normalDay(type='text', placeholder='day', maxlength='2')
      input#normalHour(type='text', placeholder='hour', maxlength='2')
      input#normalMinutes(type='text', placeholder='minutes', maxlength='2')
      input#normalSeconds(type='text', placeholder='seconds', maxlength='2')
  .afterConvertDiv
    #afterTitle 유니코드
    textarea#afterConverTextarea(cols='50', rows='10')
  .buttonsDiv
    #convertButtonDiv
      input#convertButton.convertButton(type='button', value='현재시간 변환', onclick='convertUnixTime(true)')
      input#convertButton.convertButton(type='button', value='변환', onclick='convertUnixTime(false)')
    form#typeForm.typeForm(name='typeForm', onclick='typeChange()')
      input#normalChange(type='radio', name='caseType', value='normalChange', checked='checked')
      label(for='normalChange') 일반시간 -&gt; 유닉스시간
      input#unixChange(type='radio', name='caseType', value='unixChange')
      label(for='unixChange') 유닉스시간 -&gt; 일반시간
    div
      input.resetButton(type='button', value='초기화', onclick='convertReset()')
