body{
    /*background: linear-gradient(#e8e8e8 10%, white 90% ) fixed;*/
    /*background-color: #D5EEBB;*/
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

/*.top, .bottom, .left, .right {
	background: #afff75;
	position: fixed;
}

.left, .right {
	top: 0; bottom: 0;
	width: 15px;
}

.left { left: 0; }
.right { right: 0; }
		
.top, .bottom {
		left: 0; right: 0;
		height: 15px;
}

.top { top: 0; }
.bottom { bottom: 0; }*/

.topDiv{
    margin-top: 2%;
    margin-left: 95%;
}

.login{
    text-decoration: none;
    color: black;
}

.title{
    text-align: center;
    font-size: 80px;
    animation-duration:1s;
    animation-name: fadeUp;
}

.caseConvert, .uniConvert, .queryConvert{
    border : 1px solid #d6d6d6;
    width: 50px;
    margin: 5%;
    padding: 10%;
    background: white;
    border-radius: 3%;
    transition: .5s;
    cursor: pointer;
    float: left;
}

.caseConvert:hover, .uniConvert:hover, .queryConvert:hover{
    transform: scale(1.1);
    transition: .5s;
}

@keyframes fadeUp{
	from {
		margin-top:100px;
		opacity: 0;
  }
  to {
    opacity: 1;
  }
}