body{
    /*background-color: #587792;*/
}

.convertDiv{
    text-align: center;
    margin-top: 5%;
    padding: 0px;
    margin: 0px auto;
}

.beforeConvert, .afterConvertDiv{
    display: inline-block;
    margin: 10px;
    margin-top: 100px;
}

.beforeConvert div, .afterConvertDiv div{
    margin: 10px;
}

#beforeConverTextarea, #afterConverTextarea{
    resize: none;
    border-width: 2px;
    width: 600px;
    height: 300px;
    /*border-color: #9CBA7F;
    background-color:#CDE397;*/
    font-size: large;
}

#converTextarea:focus, #afterConverTextarea:focus{
    outline: none;
}

.submitButton{
    width: 300px;
    height: 50px;
    background-color: gray;
    color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.submitButton:hover{
    background-color: #7b9463;
}

.optionDiv input[type=radio], label{
    cursor: pointer;
}

.optionDiv label{
    font-weight: bold;
}

.optionDiv label:hover{
    color: black;
}