body{
    background-color: #587792;
}

.convertDiv{
    text-align: center;
    margin-top: 5%;
    padding: 0px;
    margin: 0px auto;
}

.beforeConvert{
    display: inline-block;
}

.converTextarea{
    resize: none;
    border-width: 3px;
    width: 500px;
    border-color: #9CBA7F;
    background-color:#CDE397;
    font-size: large;
}

.converTextarea:focus{
    outline: none;
}

.afterConvertDiv{
    margin-top: 30px;
}

.submitButton{
    width: 300px;
    height: 50px;
    background-color: #9CBA7F;
    color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
}

.submitButton:hover{
    background-color: #7b9463;
}

.optionDiv input[type=radio], label{
    cursor: pointer;
}

.optionDiv label{
    font-weight: bold;
}

.optionDiv label:hover{
    color: black;
}