.loginDiv{
    border-radius: 5px;
    padding: 10%;
    margin: 3%;
    background-color: white;
    text-align: center;
    box-shadow: 3px 3px 10px;
}

.loginDiv input{
    width: 25%;
}

.btnDiv button{
    width: 15%;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: #7FC8A9;
}

.loginDiv input, .loginDiv button{
    border: 1px solid gray;
    border-radius: 5px;
    height: 30px;
    margin: 10px;
}