body{
    background: linear-gradient(#e8e8e8 10%, white 90% ) fixed;
}

.top, .bottom, .left, .right {
	background: #afff75;
	position: fixed;
}

.left, .right {
	top: 0; bottom: 0;
	width: 15px;
}

.left { left: 0; }
.right { right: 0; }
		
.top, .bottom {
		left: 0; right: 0;
		height: 15px;
}

.top { top: 0; }
.bottom { bottom: 0; }

.title{
    text-align: center;
    padding-top: 3%;
    font-size: 80px;
    animation-duration:1s;
    animation-name: fadeUp;
}

.choice_1{
    border : 1px solid #d6d6d6;
    width: 50px;
    margin: 5%;
    padding: 10%;
    background: white;
    border-radius: 3%;
    
}

@keyframes fadeUp{
	from {
		margin-top:150px;
		opacity: 0;
  }

  to {
    padding-top: 3%;
    opacity: 1;
  }
}