/*.signupDiv{
    border-radius: 1rem;
    padding: 10rem 15rem 10rem 15rem;
    margin: 3% 0% 0% 5%;
    width: 65%;
    text-align: center;
    background-color: white;
    box-shadow: 3px 3px 0.5em;
}*/

.inputDiv{
    border: 1px solid black; /*임시*/
    padding: 5rem 10rem 5rem 10rem;
    margin: 5rem;
    /*text-align: center;*/
}

.signupDiv input{
    width: 20rem;
}

.btnDiv button{
    width: 15%;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: #7FC8A9;
}

.signupDiv input, .signupDiv button{
    border: 1px solid gray;
    border-radius: 5px;
    height: 30px;
    margin: 10px;
}

.idDiv, .pwDiv, .checkpPwDiv, .nameDiv, .birthDiv, .emailDiv, .btnDiv{
    border: 1px solid blue; /*임시*/
    margin: 1rem 25rem 1rem 25rem;
    text-align: center;
}

.titleDiv{
    border: 1px solid green;
}

#pwCondition, #pwWrong, #pwCorrect{
    font-size: small;
    display: none;
}

#pwCondition, #pwWrong{
    color: red;
}

#pwCorrect{
    color: green;
}
