<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/convert/queryConvert.css">
    <script src="./js/common.js" type="text/javascript"></script>
    <script src="./js/convert/queryConvert.js" type="text/javascript"></script>
    <title>CONVERTER</title>
</head>
<body>
    <div class="optionDiv">
        <form name="convertForm" onclick="typeChange()">
            <input type="radio" name="convertType" id="select" value="select" checked="checked"><label for="select">SELECT</label>
            <input type="radio" name="convertType" id="insert" value="insert"><label for="insert">INSERT</label>
            <input type="radio" name="convertType" id="update" value="update"><label for="update">UPDATE</label>
            <input type="radio" name="convertType" id="delete" value="delete"><label for="delete">DELETE</label>
        </form>
    </div>
    <div class="convertDiv">
        <div id="beforeConvertDiv" class="beforeConvertDiv">
            <div id="beforeTitle">
                <span>컬럼명 작성 란</span>
                <input type="button" id="addButton" name="addButton" value="추가" onclick="addColumn()">
                <input type="button" id="deleteButton" name="deleteButton" value="삭제" onclick="deleteColumn()">
            </div>
            <form id="columnsForm" name="columnsForm">
                <div id="columnDiv" name="columnDiv">
                    <input type="text" name="columns">
                </div>
            </form>
        </div>
        <div id="whereOptionDiv" class="whereOptionDiv">
            <label id="whereCheckLabel"><input type="checkbox" name="whereCheckbox" id="whereCheckbox" onclick="whereCheck()">WHERE 여부</label>
            <label id="whereAllCheckLabel"><input type="checkbox" name="whereAllCheckbox" id="whereAllCheckbox" onclick="whereAllCheck()">전체선택</label>
        </div>
        <div class="afterConvertDiv">
            <div id="afterTitle">결과</div>
            <textarea id="afterConverTextarea" cols="50" rows="10"></textarea>
        </div>
        <div class="buttonsDiv">
            <div id="dbmsDiv">
                <select name="dbms" id="dbms">
                    <option value="mysql">mysql</option>
                    <option value="postgresql">postgresql</option>
                    <option value="oracle">oracle</option>
                </select>
            </div>
            <div id="queryTypeDiv">
                <select name="queryType" id="queryType">
                    <option value="node.js">node.js</option>
                    <option value="mybatis">mybatis</option>
                </select>
            </div>
            <div>
                <input type="button" class="resetButton" value="변환" onclick="convert(true)">
                <input type="button" class="resetButton" value="변환 (줄바꿈x)" onclick="convert(false)">
                <input type="button" class="resetButton" value="초기화" onclick="convertReset()">
            </div>
        </div>
    </div>
</body>