<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/convert/uniConvert.css">
    <script src="./js/common.js" type="text/javascript"></script>
    <script src="./js/convert/uniConvert.js" type="text/javascript"></script>
    <title>CONVERTER</title>
</head>
<body>
    <div class="optionDiv">
        <form name="convertForm" onclick="typeChange()">
            <input type="radio" name="convertType" id="unicode" value="unicode" checked="checked"><label for="unicode">유니코드 변환</label>
            <input type="radio" name="convertType" id="unixTime" value="unixTime"><label for="unixTime">유닉스 시간 변환</label>
        </form>
    </div>

    <div class="convertDiv">
        <div id='beforeConvert'class="beforeConvert">
            <div id="beforeTitle">한글 입력란</div>
            <textarea id="beforeConverTextarea" cols="50" rows="10" onkeyup="convert(this.value)"></textarea>
        </div>
        <div id="normalTimeDiv">
            <div id="beforeTitle">날짜</div>
            <form class="beforeTimeForm">
                <input type="text" id="normalYear" placeholder="year" type="number" maxlength="4">
                <input type="text" id="normalMonth" placeholder="month" type="number" maxlength="2">
                <input type="text" id="normalDay" placeholder="day" type="number" maxlength="2">
                <input type="text" id="normalHour" placeholder="hour" type="number" maxlength="2">
                <input type="text" id="normalMinutes" placeholder="minutes" type="number" maxlength="2">
                <input type="text" id="normalSeconds" placeholder="seconds" type="number" maxlength="2">
            </form>
        </div>
        
        <div class="afterConvertDiv">
            <div id="afterTitle">유니코드</div>
            <textarea id="afterConverTextarea" cols="50" rows="10"></textarea>
        </div>
        <div class="buttonsDiv">
            <div id="convertButtonDiv">
                <input type="button" id="convertButton" class="convertButton" value="현재시간 변환" onclick="convertUnixTime(true)">
                <input type="button" id="convertButton" class="convertButton" value="변환" onclick="convertUnixTime(false)">
            </div>
            <form name="typeForm" class="typeForm" id="typeForm" onclick="typeChange()">
                <input type="radio" name="caseType" id="normalChange" value="normalChange" checked="checked"><label for="normalChange">일반시간 -> 유닉스시간</label>
                <input type="radio" name="caseType" id="unixChange" value="unixChange"><label for="unixChange">유닉스시간 -> 일반시간</label>
            </form>
            <div>
                <input type="button" class="resetButton" value="초기화" onclick="convertReset()">
            </div>
        </div>
    </div>
</body>